.inputForm {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
}
.labelInput {
  font-size: 18px;
  color: #2a363b;
  font-weight: bold;
  text-transform: none;
}

.input {
  border-radius: 8px;
  border: 1px solid #1f54e7;
  padding: 8px 12px;
  font-size: 18px;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid #07137d;
  }
}

.input:focus {
  border: 1px solid rgb(5, 25, 87);
}
