.headerNav {
  min-height: 64px;
  display: flex;
}

.navList {
  display: flex;
  gap: 15px;
  padding-left: 40px;

  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
