:root {
  --title-text-color: #2a363b;
  --accent-color: #1f54e7; // color of links and buttons
  --accent-color-active: #172ce9;
  --accent-color-active-input: #0b1baa; // was #07137d
  --primary-bg-color: #79c8f2; // need change from body
  --secondary-bg-color: #79c8f2;
  --white-color: #ffffff;
  // --accent-color: #2196f3;  // красивый голубой с прошлого проекта
}
//  was in spiner  #3f51b5;
