@import '../../assets/styles/mixins';
.contactsList {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
}

.contactItem {
  align-items: center;
  justify-content: flex-end;
}

.contact {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  @include mq(tab) {
  }
  @include mq(desk) {
    gap: 25px;
  }
}

.contactNumber {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 5px;
  font-size: 14px;
  @include mq(tab) {
    font-size: 18px;
  }
  @include mq(desk) {
    font-size: 18px;
  }
}

.btnWraper {
  display: flex;
  // gap: 1px;
  @include mq(tab) {
    gap: 5px;
  }
  @include mq(desk) {
    gap: 5px;
  }
}
.btn {
  cursor: pointer;
  text-align: center;
  outline: none;
  /* color: #315bd1; */
  color: var(--accent-color-active);
  background-color: transparent;
  border: none;
}

.btn:hover {
  /* color: #0b1baa; */
  color: var(--accent-color-active);
  transform: scale(1.5);
}

.btn:active {
  /* color: #0b1baa; */
  color: var(--accent-color-active);
  transform: translateY(4px);
}
