.contactsList {
  padding: 0;
  font-weight: 400;
  font-size: 18px;
}

.contactItem {
  align-items: center;
  justify-content: flex-end;
}

.contact {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.contactNumber {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 10px 5px;
}

.btnWraper {
  display: flex;
  gap: 5px;
}
.btn {
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #315bd1;
  background-color: transparent;
  border: none;
}

.btn:hover {
  color: #0b1baa;
  transform: scale(1.5);
}

.btn:active {
  color: #0b1baa;
  transform: translateY(4px);
}
